:root {
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --white: #fff;
  --line-blue: hsl(215, 32%, 27%);
  --cyan: hsl(178, 100%, 50%);
  --txt-blue: hsl(215, 51%, 70%);
  --txt-gray: #8a939f;
}

*,
*::before,
*::after {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctnr-main-card {
  background-color: var(--card-bg);
  border-radius: 1.5em;
  padding: 2.5em;
  max-width: 350px;
}

.nft-img {
  width: 100%;
  border-radius: 0.725em;
}

.ctnr-nft-img {
  position: relative;
  z-index: 1;
}

.overlay {
  background-color: rgba(139, 216, 255, 0.582);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 0.75em;
  opacity: 0;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.overlay::after {
  content: "";
  display: block;
  background-image: url("images/icon-view.svg");
  width: 15%;
  height: 15%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-size: cover;
  z-index: 1000;
}

.overlay:hover,
.overlay:active {
  opacity: 1;
}

.nft-title {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 600;
  margin: 1.182em 0 0.682em 0;
  transition: all 200ms ease-in-out;
}

.nft-title:hover {
  color: var(--cyan);
}

.nft-description {
  color: var(--txt-blue);
  font-size: 1.8rem;
  line-height: 1.42em;
  font-weight: 400;
  margin-bottom: 1.182em;
}

.ctnr-txn-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: var(--cyan);
  font-weight: 600;
  font-size: 1.6rem;
}

.timer {
  color: var(--txt-gray);
  font-weight: 400;
}

.txn-details {
  font-size: 1.6rem;
  display: flex;
  vertical-align: middle;
}

.ctnr-icon {
  margin-right: 0.5em;
}

hr {
  border: none;
  background-color: var(--line-blue);
  height: 1px;
  margin: 1.7em 0;
}

.cntr-creator-details {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.creator-avatar {
  max-width: 31px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 1.8em;
}

.creator-details {
  color: var(--txt-gray);
  font-size: 1.6rem;
  font-weight: 400;
}

.txt-highlight {
  color: var(--white);
  transition: all 200ms ease-in-out;
}

.txt-highlight:hover {
  color: var(--cyan);
}

@media (max-width: 1440px) {
  .ctnr-main-card {
    max-width: 327px;
    min-width: 320px;
  }

  .nft-description {
    line-height: 1.58em;
    font-size: 1.6rem;
    margin-bottom: 1.182em;
  }
  .nft-title {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 600;
    margin: 1em 0 0.545em 0;
  }
  .cntr-creator-details {
    margin-bottom: 0;
  }
}
